body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: grey;
	font-family: "Roboto", sans-serif;
	background-image: url("sunset.jpg");
	background-size: cover;
	background-position: center;
}
.city-weather{
	margin: 10%;
	background-color: #000;
	opacity: 0.7;
	color: #fff;
	width: 90%;
	max-width: 420px;
	padding: 5%;
}
h3{
	text-align: center;
}
.city-weather > div{
	padding: 1% 1%;
	text-align: center;
}
.weather-details > div{
	padding: 3% 3%;
}
.search{
	display: flex;
	justify-content: center;
	padding: 2%;
}
input[type="text"], input[type="text"]:hover{
	outline: none;
	border: none;
	border-radius: 14px;
	padding: 3% 9% 3% 3%;
}
.search-button{
	outline: none;
	border: none;
	border-radius: 14px;
	padding: 3%;
	cursor: pointer;
	margin-left: -25px;
	background-color: powderblue;
	font-weight: bold;
}
.temp{
	font-size: 2rem;
}
.city, .description {
	font-size: 1.5rem;
}
.processing{
	visibility: hidden;
	height: 10px;
	position: relative;
}
.processing:after{
	visibility: visible;
	content: "Processing...";
	position: absolute;
	color: #fff;
	top: 0;
	left: 60px;
}

@media (max-width: 250px) {
	input[type="text"], input[type="text"]:hover{
		padding: 0;
		width: 150px;
	}
}
